<div class = "form-container" >
  <div class = "container-login register"> 
   <h2 class = "login-login">Resend unlock instructions</h2>

<%= form_for(resource, as: resource_name, url: unlock_path(resource_name), html: { method: :post }) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>

  <div class="row">
    <div class="col form-group">
    <%= f.label :email %>
    <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control input-fill" %>
  </div>
  </div>

  <div class="actions">
    <%= f.submit "Resend unlock instructions" %>
  </div>
<% end %>
  </div>
  </div>
<%= render "devise/shared/links" %>
