<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog back-color">
    <div class="modal-content">
      <div class="modal-body">
        <div class="main-container">
          <button type="button" class="cancel" data-bs-dismiss="modal">
            <%= image_tag("svgs/cancel.svg", alt: "cancel", class: "cancel-image")%>
          </button>
          
          <div class="model-container">
            <div class="doctor-details-container">
              <div class="doctor-image-container">
                <%= image_tag('svgs/doctor_image.svg', alt: "doctor image", class: "doctor_image img-fluid")%>
                <div class="doctor_star-container">
                  <h5>5.0</h5>
                  <div>
                    <%= image_tag('svgs/star_icon.svg', alt: "doctor star", class: "doctor_star img-fluid")%>
                    <%= image_tag('svgs/star_icon.svg', alt: "doctor star", class: "doctor_star img-fluid")%>
                    <%= image_tag('svgs/star_icon.svg', alt: "doctor star", class: "doctor_star img-fluid")%>
                    <%= image_tag('svgs/star_icon.svg', alt: "doctor star", class: "doctor_star img-fluid")%>
                    <%= image_tag('svgs/star_icon.svg', alt: "doctor star", class: "doctor_star img-fluid")%>
                  </div>
                </div>
              </div>
              <div>
                <div class="doctor-name">
                  <h1>Dr. Akinon Jumba</h1>
                  <h3>Paediatric Surgeon<h3>
                </div>

                <div class="doctor-details">
                  <div class="left">
                    <h5 class="location">
                    M.S, M.Ch (Paediatric Surgery) 
                    Medic General Medical Hospital 
                    Simbiat Abiola Way, Ikeja, Lagos.
                    </h5>

                    <div class="biography">
                      <h1 class="about-doctor">Biography</h1>
                      <div>
                        <p class="location">
                        A board certified pediatrician at the
                        Centre for Children and Women - 
                        Green spoint.
                        <br><br>
                        She completed her medical training
                        at the Lagos State University
                        School of Medicaine in Ikeja.
                        <br><br>
                        A board certified pediatrician at the
                        Centre for Children and Women - 
                        Green spoint.
                        She completed her medical training
                        at the Lagos State University
                        School of Medicaine in Ikeja.
                        </p>
                      </div>
                    </div>
                  </div>
                  <div class="right">
                    <div>
                      <h1 class="about-doctor">Speciality</h1>
                      <div class="specialites">
                        <div class="speciality">Paediatric</div>
                        <div class="speciality">Endoscopic</div>
                        <div class="speciality">Theoracoscopic</div>
                        <div class="speciality">Laparoscopic</div>
                        <div class="speciality">Andrioscopic</div>
                      </div>
                    </div>

                    <div>
                      <h1 class="about-doctor">Experience</h1>
                      <p class="location">25 Years</p>
                    </div>

                    <div>
                      <h1 class="about-doctor">Language</h1>
                      <p class="location">English, Yoruba</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="user-testemonials">
              <h1 class="about-doctor">Testimonials</h1>
              <div class="user-responds d-flex align-items-center justify-content-between">
                <div class="comments d-flex align-items-center">
                  <%= image_tag("svgs/first-user-comment-image.svg", alt: "first user", class: "user-image")%>
                  <div>
                    <h3>Tunde Mariam</h3>
                    <p class="location">
                    My experience with  Dr. Adekunle is superb. 
                    Very calm and will always answer your every questions. 
                    She is good at her.
                    </p>
                  </div>
                </div>
                <div class="comments d-flex align-items-center">
                  <%= image_tag("svgs/first-user-comment-image.svg", alt: "first user", class: "user-image")%>
                  <div>
                    <h3>Tunde Mariam</h3>
                    <p class="location">
                    My experience with  Dr. Adekunle is superb. 
                    Very calm and will always answer your every questions. 
                    She is good at her.
                    </p>
                  </div>
                </div>
                <button class="appointment-btn">Book Appointment</button>
              </div>
            </div>
            <hr/>
            <div class="other-doctor">
              <h1>Other Paedriatric surgeons<h1>
              <div class="similar-doctor-container">
                <div class="similar-doc">
                  <%= image_tag("svgs/similar_doc1.svg", alt: "first doctor", class: "similar-doc-image")%>
                  <div class="doctor-rating" style="background: #D4AF37;">
                    <%= image_tag('svgs/star_icon.svg', alt: "doctor star", class: "doctor_star img-fluid")%>
                    <span>5.0</span>
                  </div>
                  <div class="discription">
                    <h1>Dr. Akinon Jumba</h1>
                    <h3>Senior  Cardiologist</h3>
                    <p>AB Pharmaceuticals Ltd (CPN NEXUS) Rumoudara, Port-Harcourt</p>
                  </div>
                  <button>View Profile</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>