<div class="container">
    <section class="section-service">
        <div class="heading">
            Our Services And Specialities
        </div>
        <div class="container">
            <div class="sub-heading col-12">
                Consulting a doctor who speaks your language gives you peace of mind and contribute to better care
            </div>
        </div>
        <div class="services">

            <div>
                <%=image_tag('services-section-img/cardiology.svg', alt: "cardiology",class:"service_icon_div1") %>
                    <h6>Cardiology</h6>
                    <p>
                        We put our heart into protecting yours. Our cadiac service are of the...
                    </p>
            </div>

            <div>
                <%=image_tag('services-section-img/dermatology.svg', alt: "Dermatology",class:"service_icon_div2") %>
                    <h6>Dermatology</h6>
                    <p>
                        We put our heart into protecting yours. Our cadiac service are of the...
                    </p>
            </div>

            <div>
                <%=image_tag('services-section-img/emplyersolutions.svg', alt: "Emplyer Solutions",class:"service_icon_div3") %>
                    <h6>Emplyer Solutions</h6>
                    <p>
                        We put our heart into protecting yours. Our cadiac service are of the...
                    </p>
            </div>

            <div>
                <%=image_tag('services-section-img/executive-health.svg', alt: "Executive Health",class:"service_icon_div4") %>
                    <h6>Executive Health</h6>
                    <p>
                        We put our heart into protecting yours. Our cadiac service are of the...
                    </p>
            </div>

            <div>
                <%=image_tag('services-section-img/nutrition.svg', alt: "Nutrition",class:"service_icon_div5")%>
                    <h6>Nutrition</h6>
                    <p>
                        We put our heart into protecting yours. Our cadiac service are of the...
                    </p>
            </div>


            <div>
                <%=image_tag('services-section-img/virtual-care.svg', alt: "Virtual Care",class:"service_icon_div6")%>
                    <h6>Virtual Care</h6>
                    <p>
                        We put our heart into protecting yours. Our cadiac service are of the...
                    </p>
            </div>


            <div>
                <%=image_tag('services-section-img/orthopaedics.svg', alt: "Orthopaedics",class:"service_icon_div7")%>
                    <h6>Orthopaedics</h6>
                    <p>
                        We put our heart into protecting yours. Our cadiac service are of the...
                    </p>
            </div>




            <div>
                <%=image_tag('services-section-img/physioteraphy.svg', alt: "Physioteraphy",class:"service-icon-div")%>
                    <h6>Physioteraphy</h6>
                    <p>
                        We put our heart into protecting yours. Our cadiac service are of the...
                    </p>
            </div>

        </div>
    </section>
</div>
    <section class="consultationbgr-sm">
        <div class="container">
            <div class="row">
                <div class="easyway">Easy Way Health Consultation</div>
            </div>
            <div class="consultation">
                <div class="col-md-6 ol-lg-6 imagebox">

                    <%=image_tag('services-section-img/signal.svg', alt: "signal", class:"signal")%>
                        <%=image_tag('services-section-img/cross.svg', alt: "cross",class:"cross cross-md")%>
                            <%=image_tag('services-section-img/globe.svg', alt: "globe", class:"globe")%>

                            <%=image_tag('services-section-img/mobile-signal.svg', alt: "signal",class:"signal-sm")%>
                            <%=image_tag('services-section-img/mobile-cross.svg', alt: "cross",class:"cross-sm")%>
                            <%=image_tag('services-section-img/mobile-globe.svg', alt: "globe",class:"globe-sm")%>
                </div>
                <div class="textdiv col-md-6 ol-lg-6">
                    <h2>
                        Easy Way Health Consultation
                    </h2>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor
                        in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.<br/><br> Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Sed
                        ut perspi.
                    </p>
                    <div class="btn-container">
                        <button class="btn-personal">Personal</button>
                        <button class="btn-family">Family</button>
                    </div>
                </div>
            </div>
        </div>
</section>

<div class="counter-show row">
    <div class="col-md-4 inner-counter first">

        <h2>556+</h2>
        <p>laborum. Sed ut perspi</p>
    </div>

    <div class="col-md-4 inner-counter">
        <h2>556+</h2>
        <p>laborum. Sed ut perspi</p>
    </div>

    <div class="col-md-4 inner-counter">
        <h2>556+</h2>
        <p>laborum. Sed ut perspi</p>
    </div>
</div>