<%= render 'home/main_header' %>
<%= render "ourservices" %>
<div class="container section-special-doctors">
    <div class="section-heading">
        <h1>Our special doctor team</h1>
    </div>
    <div class="section-sub-heading">
        Consulting a doctor who speaks your language gives you peace of mind and contribute to better care
    </div>
    <div class="doctor-cards doctor-slider">
        <div class="card border-light justify-content-start mb-4">
            <%= image_tag("doctor_svgs/heart.svg", alt: "pic of a doc", class: "heart-icon") %>
            <%= image_tag("doctor_svgs/first_doc.svg", alt: "pic of a doc", class: "img-fluid image") %>
            <div class="doctor-info">
                <h4>Dr. Adekunle Johnsons</h4>
                <h6>Surgeon</h6>
                <div class="doctor-rating">
                    <div class="doctor-stars">
                        <%= image_tag("doctor_svgs/star.svg", alt: "rating", class: "icon") %>
                        <h6>4.5</h6>
                    </div>
                    <div class="doctor-hospital">
                        <%= image_tag("doctor_svgs/hospital.svg", alt: "rating", class: "icon") %>
                        <h6>12 years</h6>
                    </div>
                </div>
            </div>
        </div>
        <div class="card border-light justify-content-start mb-4">
            <%= image_tag("doctor_svgs/heart.svg", alt: "pic of a doc", class: "heart-icon") %>
            <%= image_tag("doctor_svgs/second_doc.svg", alt: "pic of a doc", class: "img-fluid image") %>
            <div class="doctor-info">
                <h4>Dr. Okafor Victoria</h4>
                <h6>Medical Doctor</h6>
                <div class="doctor-rating d-flex align-items-center">
                    <div class="doctor-stars d-flex align-items-center">
                        <%= image_tag("doctor_svgs/star.svg", alt: "rating", class: "icon") %>
                        <h6>4.4</h6>
                    </div>
                    <div class="doctor-hospital">
                        <%= image_tag("doctor_svgs/hospital.svg", alt: "rating", class: "icon") %>
                        <h6>10 years</h6>
                    </div>
                </div>
            </div>
        </div>
        <div class="card border-light mb-4">
            <%= image_tag("doctor_svgs/heart.svg", alt: "pic of a doc", class: "heart-icon") %>
            <%= image_tag("doctor_svgs/third_doc.svg", alt: "pic of a doc", class: "img-fluid image") %>
            <div class="doctor-info">
                <h4>Dr. Adekunle Johnsons</h4>
                <h6>Orthopaedics</h6>
                <div class="doctor-rating">
                    <div class="doctor-stars">
                        <%= image_tag("doctor_svgs/star.svg", alt: "rating", class: "icon") %>
                        <h6>4.7</h6>
                    </div>
                    <div class="doctor-hospital">
                        <%= image_tag("doctor_svgs/hospital.svg", alt: "rating", class: "icon") %>
                        <h6>8 years</h6>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<%= render 'hospital-section/hospital-section'%>
<%= render "featurednews" %>



