<div class="services">
    <div class="services-header">
        <h1>Our Services</h1>
        <h3>An Overview of What We Do</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Eget risus maecenas dignissim sapien. A et eu, vitae, semper sem et in turpis placerat. Praesent nibh imperdiet duis odio ac faucibus ut ultrices dolor. Tincidunt enim gravida sagittis vitae, orci nibh bibendum integer. Ipsum dui eget quis id quisque penatibus euismod id.</p>
    </div>
    <div class="services-list">
        <div class="services-name-container">
            <div class="service-name">
                <div class="service-icon-container">
                    <%= image_tag("services/heart-icon.svg", alt: "icon", class: "service-icon") %>
                </div>
                <h3>Cardiology</h3>
            </div>
            <div class="service-name">
                <div class="service-icon-container">
                    <%= image_tag("services/nutrition-icon.svg", alt: "icon", class: "service-icon") %>
                </div>
                <h3>Nutrition</h3>
            </div>
            <div class="service-name">
                <div class="service-icon-container">
                    <%= image_tag("services/dermatology-icon.svg", alt: "icon", class: "service-icon") %>
                </div>
                <h3>Dermatology</h3>
            </div>
            <div class="service-name">
                <div class="service-icon-container">
                    <%= image_tag("services/virtual-icon.svg", alt: "icon", class: "service-icon") %>
                </div>
                <h3>Virtual Care</h3>
            </div>
            <div class="service-name">
                <div class="service-icon-container">
                    <%= image_tag("services/briefcase.svg", alt: "icon", class: "service-icon") %>
                </div>
                <h3>Employer Solution</h3>
            </div>
            <div class="service-name">
                <div class="service-icon-container">
                    <%= image_tag("services/bone.svg", alt: "icon", class: "service-icon") %>
                </div>
                <h3>Orthopaedics</h3>
            </div>
            <div class="service-name">
                <div class="service-icon-container">
                    <%= image_tag("services/medical-icon.svg", alt: "icon", class: "service-icon") %>
                </div>
                <h3>Executive Health</h3>
            </div>
            <div class="service-name">
                <div class="service-icon-container">
                    <%= image_tag("services/physiotherapy-icon.svg", alt: "icon", class: "service-icon") %>
                </div>
                <h3>Physiotherapy</h3>
            </div>
        </div>
    </div>
    <div class="services-main">
        <div class="services-discription-container">
            <div class="services-discription">
                <h2>Cardiology</h2>
                <p>Lorem ipsum dolor sit amet,
                consectetur adipiscing elit. E
                get risus maecenas dignissim sapien. A
                et eu, vitae, semper sem et in turpis plac
                erat. Praesent nibh imperdiet duis odio ac fa
                ucibus ut ultrices dolor. Tincidunt enim
                gravida sagittis vitae, orci nibh biben
                dum integer. Ipsum dui eget quis id quisq
                ue penatibus euismod id.
                </p>
                <%= link_to "Book Appointment", root_path ,class: "appointment-btn"%>
            </div>
            <div class="discription-image-container left-image">
                <%= image_tag("services/heart.svg", alt: "icon", class: "discription-image") %>
            </div>
        </div>
        <div class="services-discription-container">
            <div class="services-discription">
                <h2>Dermatology</h2>
                <p>Lorem ipsum dolor sit amet,
                consectetur adipiscing elit. E
                get risus maecenas dignissim sapien. A
                et eu, vitae, semper sem et in turpis plac
                erat. Praesent nibh imperdiet duis odio ac fa
                ucibus ut ultrices dolor. Tincidunt enim
                gravida sagittis vitae, orci nibh biben
                dum integer. Ipsum dui eget quis id quisq
                ue penatibus euismod id.
                </p>
                <%= link_to "Book Appointment", root_path ,class: "appointment-btn"%>
            </div>
            <div class="discription-image-container ">
                <%= image_tag("services/dermatology.svg", alt: "icon", class: "discription-image") %>
            </div>
        </div>
        <div class="services-discription-container">
            <div class="services-discription">
                <h2>Employee Solution</h2>
                <p>Lorem ipsum dolor sit amet,
                consectetur adipiscing elit. E
                get risus maecenas dignissim sapien. A
                et eu, vitae, semper sem et in turpis plac
                erat. Praesent nibh imperdiet duis odio ac fa
                ucibus ut ultrices dolor. Tincidunt enim
                gravida sagittis vitae, orci nibh biben
                dum integer. Ipsum dui eget quis id quisq
                ue penatibus euismod id.
                </p>
                <%= link_to "Book Appointment", root_path ,class: "appointment-btn"%>
            </div>
            <div class="discription-image-container left-image">
                <%= image_tag("services/employ.svg", alt: "icon", class: "discription-image") %>
            </div>
        </div>
        <div class="services-discription-container">
            <div class="services-discription">
                <h2>Executive Health</h2>
                <p>Lorem ipsum dolor sit amet,
                consectetur adipiscing elit. E
                get risus maecenas dignissim sapien. A
                et eu, vitae, semper sem et in turpis plac
                erat. Praesent nibh imperdiet duis odio ac fa
                ucibus ut ultrices dolor. Tincidunt enim
                gravida sagittis vitae, orci nibh biben
                dum integer. Ipsum dui eget quis id quisq
                ue penatibus euismod id.
                </p>
                <%= link_to "Book Appointment", root_path ,class: "appointment-btn"%>
            </div>
            <div class="discription-image-container">
                <%= image_tag("services/execlusive.svg", alt: "icon", class: "discription-image") %>
            </div>
        </div>
        <div class="services-discription-container">
            <div class="services-discription">
                <h2>Nutrition</h2>
                <p>Lorem ipsum dolor sit amet,
                consectetur adipiscing elit. E
                get risus maecenas dignissim sapien. A
                et eu, vitae, semper sem et in turpis plac
                erat. Praesent nibh imperdiet duis odio ac fa
                ucibus ut ultrices dolor. Tincidunt enim
                gravida sagittis vitae, orci nibh biben
                dum integer. Ipsum dui eget quis id quisq
                ue penatibus euismod id.
                </p>
                <%= link_to "Book Appointment", root_path ,class: "appointment-btn"%>
            </div>
            <div class="discription-image-container left-image">
                <%= image_tag("services/nutrition.svg", alt: "icon", class: "discription-image") %>
            </div>
        </div>
        <div class="services-discription-container">
            <div class="services-discription">
                <h2>Virtual Care</h2>
                <p>Lorem ipsum dolor sit amet,
                consectetur adipiscing elit. E
                get risus maecenas dignissim sapien. A
                et eu, vitae, semper sem et in turpis plac
                erat. Praesent nibh imperdiet duis odio ac fa
                ucibus ut ultrices dolor. Tincidunt enim
                gravida sagittis vitae, orci nibh biben
                dum integer. Ipsum dui eget quis id quisq
                ue penatibus euismod id.
                </p>
                <%= link_to "Book Appointment", root_path ,class: "appointment-btn"%>
            </div>
            <div class="discription-image-container">
                <%= image_tag("services/virtual.svg", alt: "icon", class: "discription-image") %>
            </div>
        </div>
        <div class="services-discription-container">
            <div class="services-discription">
                <h2>Orthopaedics</h2>
                <p>Lorem ipsum dolor sit amet,
                consectetur adipiscing elit. E
                get risus maecenas dignissim sapien. A
                et eu, vitae, semper sem et in turpis plac
                erat. Praesent nibh imperdiet duis odio ac fa
                ucibus ut ultrices dolor. Tincidunt enim
                gravida sagittis vitae, orci nibh biben
                dum integer. Ipsum dui eget quis id quisq
                ue penatibus euismod id.
                </p>
                <%= link_to "Book Appointment", root_path ,class: "appointment-btn"%>
            </div>
            <div class="discription-image-container left-image">
                <%= image_tag("services/orthopaedics.svg", alt: "icon", class: "discription-image") %>
            </div>
        </div>
        <div class="services-discription-container">
            <div class="services-discription">
                <h2>Physiotherapy</h2>
                <p>Lorem ipsum dolor sit amet,
                consectetur adipiscing elit. E
                get risus maecenas dignissim sapien. A
                et eu, vitae, semper sem et in turpis plac
                erat. Praesent nibh imperdiet duis odio ac fa
                ucibus ut ultrices dolor. Tincidunt enim
                gravida sagittis vitae, orci nibh biben
                dum integer. Ipsum dui eget quis id quisq
                ue penatibus euismod id.
                </p>
                <%= link_to "Book Appointment", root_path ,class: "appointment-btn"%>
            </div>
            <div class="discription-image-container">
                <%= image_tag("services/physiotherapy.svg", alt: "icon", class: "discription-image") %>
            </div>
        </div>
    </div>
<div>
<%= render "home/footer" %>