 <div class="patient-handle">
        <div class="patient-search-options">
            <div class ="search-design end">
                <%= image_tag("patient_svgs/doc.svg", alt: "search icon", class: "sidebar-icons") %>
                <select class="form-select speciality" aria-label=".form-select example">
                    <option selected>Speciality</option>
                    <option value="1">One</option>
                    <option value="2">Two</option>
                    <option value="3">Three</option>
                </select>
            </div>
            <div class ="search-inputs">
                <input type="text" class="form-control" placeholder="Search Doctors" aria-label="">
            </div>
            <div class ="search-design">
                <%= image_tag("patient_svgs/location.svg", alt: "message") %>
                <select class="form-select " aria-label=".form-select example">
                    <option selected>Speciality</option>
                    <option value="1">One</option>
                    <option value="2">Two</option>
                    <option value="3">Three</option>
                </select>
            </div>
            <button class="submit-btn">
                <%= image_tag("patient_svgs/search.svg", alt: "search icon", class: "sidebar-icons") %>
            </button>
        </div>
        <div class="greeting">
            <h1>Welcome Wasiu</h1>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Eget risus maecenas</p>
        </div>
        <div class="appointment-activities">
            <div class="appointment">
                <h2>Next Appointment</h2>
                <div class="appointment-info">
                    <h4>Your next appointment will appear hear</h4>
                    <%= image_tag("patient_svgs/appointment.svg", alt: "appointment icon", class: "info-icon") %>
                    <button type="button" class="btn">Book Appointment</button>
                </div>
            </div>
            <div class="activities">
                <h2>Recent Activities</h2>
                <div class="activity-info">
                    <h4>Your next recent activities will appear hear</h4>
                    <%= image_tag("patient_svgs/activity.svg", alt: "appointment icon", class: "info-icon") %>
                    <div class="lower-part"></div>
                </div>
            </div>
        </div>
        <div class="health">
            <div class="medications">
                <h2>Current Medications</h2>
                <div class="medication-info">
                    <h4>Your medications will appear hear</h4>
                    <%= image_tag("patient_svgs/medical.svg", alt: "appointment icon", class: "info-icon") %>
                </div>
            </div>
            <div class="vitals">
                <h2>Vitals</h2>
                <div class="vitals-info">
                    <div class="vitals-info-one">
                        <div class="vital-one">
                            <%= image_tag("patient_svgs/vitalone.svg", alt: "appointment icon", class: "one") %>
                            <h4>Blood Pressure</h4>
                        </div>
                        <div class="vital-two">
                            <%= image_tag("patient_svgs/vitalstwo.svg", alt: "appointment icon", class: "two") %>
                            <h4>Blood Group</h4>
                        </div>
                    </div>
                    <div class="vitals-info-two">
                        <div class="vital-three">
                            <%= image_tag("patient_svgs/vitalsthree.svg", alt: "appointment icon", class: "three") %>
                            <h4>Weight</h4>
                        </div>
                        <div class="vital-four">
                            <%= image_tag("patient_svgs/vitalsfour.svg", alt: "appointment icon", class: "four") %>
                            <h4>Age</h4>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="billings">
                <h2>Recent Bills</h2>
                <div class="billings-info">
                    <h4>Your recent bills will appear hear</h4>
                    <%= image_tag("patient_svgs/billing.svg", alt: "appointment icon", class: "billing-icon") %>
                </div>
            </div>
    </div>