<div class="side-bar">
    <div class="user-info">
        <%= image_tag("patient_svgs/profile.svg", alt: "profile icon", class: "sidebar-image") %>
        <div class="patient-profile-info">
            <h2 class="name-text sidebar text-one"> <%= current_user.first_name %> </h2>
            <h4 class="role-text sidebar text-two"> <%= current_user.id %> </h4>
        </div>
    </div>
    <div class="sidebar-menu">
        <h3 class="menu-head first">DASHBOARD</h3>
        <ul class="menu-list">
            <li class="list-item active-item">
                <a href="#" class= "list-link">
                    <%= inline_svg_tag "patient_svgs/search.svg", alt: "search icon", class: "sidebar-icons" %>
                    Overview
                </a>
            </li>
            <li class="list-item">
                <a href="#" class= "list-link">
                    <%= inline_svg_tag "patient_svgs/doc.svg", alt: "search icon", class: "sidebar-icons" %>
                    Doctor Search
                </a>
            </li>
            <li class="list-item">
                <a href="#" class= "list-link">
                    <%= inline_svg_tag "patient_svgs/calender.svg", alt: "search icon", class: "sidebar-icons" %>
                    Appointment
                </a>
            </li>
            <li class="list-item">
                <a href="#" class= "list-link">
                    <%= inline_svg_tag "patient_svgs/notification.svg", alt: "search icon", class: "sidebar-icons" %>
                    Messages
                </a>
            </li>
            <li class="list-item">
                <a href="#" class= "list-link">
                    <%= inline_svg_tag "patient_svgs/human.svg", alt: "search icon", class: "sidebar-icons" %>
                    Profile
                </a>
            </li>
            <li class="list-item">
                <a href="#" class= "list-link">
                    <%= inline_svg_tag "patient_svgs/contact.svg", alt: "search icon", class: "sidebar-icons" %>
                    Contact
                </a>
            </li>
        </ul>
        <h3 class="menu-head rest">MEDICAL</h3>
        <ul class="menu-list">
            <li class="list-item">
                <a href="#" class= "list-link">
                    <%= inline_svg_tag "patient_svgs/medication.svg", alt: "search icon", class: "sidebar-icons" %>
                    Medications
                </a>
            </li>
            <li class="list-item">
                <a href="#" class= "list-link">
                    <%= inline_svg_tag "patient_svgs/record.svg", alt: "search icon", class: "sidebar-icons" %>
                    Health Records
                </a>
            </li>
            <li class="list-item">
                <a href="#" class= "list-link">
                    <%= inline_svg_tag "patient_svgs/lab.svg", alt: "search icon", class: "sidebar-icons" %>
                    LAB Results
                </a>
            </li>
            <li class="list-item">
                <a href="#" class= "list-link">
                    <%= inline_svg_tag "patient_svgs/care.svg", alt: "search icon", class: "sidebar-icons" %>
                    Care Plans
                </a>
            </li>
            <li class="list-item">
                <a href="#" class= "list-link">
                    <%= inline_svg_tag "patient_svgs/form.svg", alt: "search icon", class: "sidebar-icons" %>
                    Forms
                </a>
            </li>
        </ul>
        <h3 class="menu-head rest">DONATION</h3>
        <ul class="menu-list">
            <li class="list-item">
                <a href="#" class= "list-link">
                    <%= inline_svg_tag "patient_svgs/sOrgan.svg", alt: "search icon", class: "sidebar-icons" %>
                    Search Organ
                </a>
            </li>
            <li class="list-item">
                <a href="#" class= "list-link">
                    <%= inline_svg_tag "patient_svgs/donor.svg", alt: "search icon", class: "sidebar-icons" %>
                    Donate Organ
                </a>
            </li>
        </ul>
        <h3 class="menu-head rest">FINANCE</h3>
        <ul class="menu-list">
            <li class="list-item">
                <a href="#" class= "list-link">
                    <%= inline_svg_tag "patient_svgs/currency.svg", alt: "search icon", class: "sidebar-icons" %>
                    Billing
                </a>
            </li>
            <li class="list-item">
                <a href="#" class= "list-link">
                    <%= inline_svg_tag "patient_svgs/history.svg", alt: "search icon", class: "sidebar-icons" %>
                    History
                </a>
            </li>
        </ul>
        <ul class="menu-list last">
            <li class="list-item">
                <a href="#" class= "list-link">
                    <%= inline_svg_tag "patient_svgs/thumbs.svg", alt: "search icon", class: "sidebar-icons" %>
                    Support
                </a>
            </li>
            <li class="list-item">
                <a href="#" class= "list-link">
                    <%= inline_svg_tag "patient_svgs/settings.svg", alt: "search icon", class: "sidebar-icons" %>
                    Settings
                </a>
            </li>
            <li class="list-item">
                <a href="#" class= "list-link">
                    <%= inline_svg_tag "patient_svgs/logout.svg", alt: "search icon", class: "sidebar-icons" %>
                    Log Out
                </a>
            </li>
        </ul>
    </div>
</div>