<div class = "form-container-login">
<div class = "container-login">
<h2 class = "login-login" >Log in</h2>
<p class = "welcome-message">welcome back.Login to  access your account.</p>
<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <div class="field">
    <%= f.label :email, class: "email" %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control input-fill"%>
  </div>

  <div class="field">
    <%= f.label :password ,class: "password" %><br />
    <%= f.password_field :password, autocomplete: "current-password", class: "form-control input-fill password-image"%>
  </div>
 
  <div class = "forgotten-pass">
  <%- if devise_mapping.recoverable? && controller_name != 'passwords' && controller_name != 'registrations' %>
  <%= link_to "Forgot password?", new_password_path(resource_name), class: "forgotten-password" %><br />
  <% end %>
  </div>
<!----
  <% if devise_mapping.rememberable? %>
    <div class="field">
      <% f.check_box :remember_me %>
      <% f.label :remember_me %>
  <% end %> -->

<div class = "actions">
    <%= f.submit "Log in", class: "button-log" %>
    <% link_to "Log in", new_session_path(resource_name) , class: "button-log" %>
</div>



<div class = "text-or">
<h5 class ="or-move">
   <span class = "or">Or</span>
</h5>
</div>


<div class = "shift-google">
<button type="button" class="button-log-google">
  <%= image_submit_tag("google_login/google_logo.svg") %> Login with Google
</button>
</div>


<div class = "shift-facebook">
<button type="button" class="button-log-google">
  <%= image_submit_tag("google_login/fac_logo.svg") %> Login with Facebook
</button>
</div>

<% end %>
</div>
<div class = "link-account">
  <p class ="have-account">Don't have an account? </p>
  <%= link_to "Sign up", new_registration_path(resource_name), class: "account-login" %>
  </div>
</div>


